In [8]:
import pandas as pd
import numpy as np
import seaborn as sns

In [9]:
koi_data=pd.read_csv('Training_data.csv')
tess_data=pd.read_csv('testing_tess.csv')

In [10]:
koi_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7325 entries, 0 to 7324
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   period    7325 non-null   float64
 1   duration  7325 non-null   float64
 2   depth     7325 non-null   float64
 3   radius    7325 non-null   float64
 4   insol     7325 non-null   float64
 5   teq       7325 non-null   float64
 6   teff      7325 non-null   float64
 7   srad      7325 non-null   float64
 8   logg      7325 non-null   float64
 9   mag       7325 non-null   float64
 10  label     7325 non-null   int64
dtypes: float64(10), int64(1)
memory usage: 629.6 KB

In [11]:
new_df=pd.concat([koi_data,tess_data],ignore_index=True)

In [12]:
new_df.to_csv('Combined.csv',index=False)

In [13]:
new_df['label'].value_counts().unique()

array([5595, 3970])