In [25]:
import pandas as pd
import numpy as np
import seaborn as sns

In [26]:
koi_data=pd.read_csv('kepler_features.csv')
tess_data=pd.read_csv('tess_features.csv')

In [27]:
koi_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7325 entries, 0 to 7324
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   period    7325 non-null   float64
 1   duration  7325 non-null   float64
 2   depth     7325 non-null   float64
 3   radius    7325 non-null   float64
 4   insol     7325 non-null   float64
 5   teq       7325 non-null   float64
 6   teff      7325 non-null   float64
 7   srad      7325 non-null   float64
 8   logg      7325 non-null   float64
 9   mag       7325 non-null   float64
 10  label     7325 non-null   int64
 11  Name      7325 non-null   object
 12  StarID    7325 non-null   int64
dtypes: float64(10), int64(2), object(1)
memory usage: 744.1+ KB

In [28]:
new_df=pd.concat([koi_data,tess_data],ignore_index=True)

In [29]:
new_df['label'].value_counts().unique()

array([5595, 3970])

In [30]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9565 entries, 0 to 9564
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   period    9565 non-null   float64
 1   duration  9565 non-null   float64
 2   depth     9565 non-null   float64
 3   radius    9565 non-null   float64
 4   insol     9565 non-null   float64
 5   teq       9565 non-null   float64
 6   teff      9565 non-null   float64
 7   srad      9565 non-null   float64
 8   logg      9565 non-null   float64
 9   mag       9565 non-null   float64
 10  label     9565 non-null   int64
 11  Name      7325 non-null   object
 12  StarID    9565 non-null   int64
 13  planetTd  2240 non-null   float64
dtypes: float64(11), int64(2), object(1)
memory usage: 1.0+ MB

In [31]:
new_df.head()

,period,duration,depth,radius,insol,teq,teff,srad,logg,mag,label,Name,StarID,planetTd
0,9.488036,2.95750,615.8,2.26,93.59,793.0,5455.0,0.927,4.467,15.347,1,K00752.01,10797460,NaN
1,54.418383,4.50700,874.8,2.83,9.11,443.0,5455.0,0.927,4.467,15.347,1,K00752.02,10797460,NaN
2,1.736952,2.40641,8079.2,33.46,891.96,1395.0,5805.0,0.791,4.564,15.597,0,K00754.01,10848459,NaN
3,2.525592,1.65450,603.3,2.75,926.16,1406.0,6031.0,1.046,4.438,15.509,1,K00755.01,10854555,NaN
4,11.094321,4.59450,1517.5,3.90,114.81,835.0,6046.0,0.972,4.486,15.714,1,K00756.01,10872983,NaN

In [32]:
new_df.sample(40)

,period,duration,depth,radius,insol,teq,teff,srad,logg,mag,label,Name,StarID,planetTd
782,4.458149,2.867000,188.100000,1.610000,511.600000,1212.000000,6100.00,1.083000,4.37600,14.82000,1,K01336.04,4077526,NaN
6749,14.844240,6.835770,83412.000000,28.970000,101.980000,810.000000,6161.00,0.988000,4.36700,14.41500,0,K07517.01,12251779,NaN
6446,38.476744,5.107440,173170.000000,33.800000,10.850000,463.000000,5294.00,0.790000,4.50700,14.57900,0,K06951.01,8009500,NaN
4833,0.758354,4.568110,581780.000000,149.440000,22401.950000,3123.000000,7131.00,1.830000,4.08400,16.97500,0,K03998.01,7707742,NaN
3845,373.606830,8.752000,534.800000,2.500000,1.280000,271.000000,6184.00,1.038000,4.44800,15.25600,0,K04843.01,10187563,NaN
1241,17.281170,2.829000,1562.800000,2.040000,7.750000,425.000000,4347.00,0.524000,4.73000,15.86200,1,K01895.02,4263293,NaN
1867,0.962827,4.480000,86.300000,29.270000,31471.910000,3399.000000,6534.00,3.028000,3.64700,13.39800,0,K02505.01,5471574,NaN
3355,324.180280,18.150000,87.900000,2.200000,5.010000,382.000000,5792.00,2.183000,3.83500,12.09200,0,K07653.01,3347807,NaN
5933,3.796448,11.591700,522880.000000,232.390000,10412.560000,2577.000000,8117.00,3.070000,3.74800,14.00500,0,K07155.01,9291368,NaN
2159,0.929906,1.743000,108.700000,1.480000,6514.570000,2291.000000,6039.00,1.413000,4.16900,12.41000,1,K02717.01,9467404,NaN
2935,5.035057,1.804000,151.500000,1.630000,401.230000,1141.000000,5888.00,1.097000,4.34200,14.28200,1,K00474.04,10460984,NaN
7103,366.289990,10.869000,2568.000000,68.390000,46.470000,666.000000,5083.00,12.868000,2.70800,10.66400,0,K08120.01,6286633,NaN
9127,8.491512,6.035000,40640.000000,87.015500,2278.830000,1924.000000,9365.00,4.180000,4.08000,10.17490,0,NaN,146261607,591.01
7118,0.933749,3.504000,57.800000,0.660000,2442.700000,1793.000000,5978.00,0.846000,4.55400,15.76700,0,K08024.01,10535991,NaN
8955,12.983175,1.527578,1180.996904,5.933251,397.468687,1138.794811,6962.64,1.679830,4.14716,10.09400,0,NaN,365690646,524.01
6880,498.688450,17.880000,548.300000,2.440000,0.870000,246.000000,6184.00,1.038000,4.44800,15.16600,0,K07537.01,12504353,NaN
1785,11.776107,2.829000,281.300000,1.310000,34.750000,619.000000,5096.00,0.689000,4.61800,15.00500,0,K02557.01,10925113,NaN
413,5.326673,3.404500,611.400000,2.260000,242.970000,1007.000000,5831.00,0.921000,4.51700,15.80800,1,K01127.01,6359320,NaN
2376,5.211046,3.344700,102.700000,1.180000,354.820000,1107.000000,6023.00,1.031000,4.42300,12.79700,1,K00307.02,6289257,NaN
2927,20.355097,5.332650,25080.000000,17.530000,63.600000,720.000000,6081.00,1.077000,4.40400,14.55700,0,K00414.01,5872150,NaN
8008,0.564619,1.295000,510.000000,3.014980,8493.100000,2674.000000,6237.00,1.300000,4.24000,10.36100,0,NaN,162246865,1984.01
5393,412.227551,4.303000,819.500000,21.530000,18.570000,529.000000,5079.00,7.684000,2.97700,13.92600,0,K05438.01,7884986,NaN
2997,2.462344,1.811300,180.100000,1.330000,730.860000,1326.000000,5736.00,1.008000,4.46700,13.64800,1,K00692.01,8557374,NaN
6602,3.521051,3.532300,4879.800000,256.200000,8306.900000,2434.000000,5149.00,6.619000,3.10900,13.94200,0,K07374.01,10809677,NaN
6152,7.453017,3.685000,551.500000,37.370000,10730.530000,2595.000000,4475.00,16.755000,2.32900,14.15800,0,K06269.01,2437804,NaN
3884,8.214299,3.099000,70.700000,1.660000,701.110000,1312.000000,6277.00,1.869000,3.95100,12.34400,0,K03241.01,9532117,NaN
5127,419.752240,4.154000,754.000000,2.820000,1.030000,257.000000,6137.00,1.016000,4.45700,15.69100,0,K05184.01,5616628,NaN
1978,6.097403,4.635000,568.500000,45.490000,2630.310000,1826.000000,8828.00,1.828000,4.22700,13.42400,0,K02606.01,5991936,NaN
2639,16.542953,3.851600,726.000000,2.310000,32.940000,611.000000,5215.00,0.867000,4.51800,14.68700,1,K00477.01,10934674,NaN
731,15.608652,6.260000,311.400000,6.170000,958.550000,1419.000000,8014.00,2.430000,3.94000,13.37600,0,K00170.01,11044770,NaN
7252,6.096260,10.400000,30.400000,0.620000,284.960000,1048.000000,6108.00,1.030000,4.46600,13.72300,0,K08075.01,12021943,NaN
769,0.971933,1.926500,4786.000000,50.750000,2240.480000,1754.000000,5592.00,0.931000,4.44500,15.28900,0,K01453.01,7842610,NaN
8005,10.215017,1.968307,994.108904,1.477775,7.419503,420.933470,3763.00,0.447336,4.83739,9.92801,1,NaN,12421862,198.01
7170,4.173638,2.738000,49.700000,2.520000,5511.800000,2197.000000,6619.00,3.410000,3.59500,12.75400,0,K08045.01,11152950,NaN
4647,174.769712,2.356900,68139.000000,38.790000,1.770000,294.000000,5704.00,0.804000,4.57500,15.54900,0,K03660.01,5103998,NaN
6819,0.760935,2.770230,370600.000000,35.680000,640.660000,1285.000000,4675.00,0.511000,4.74000,12.40200,0,K07533.01,12418816,NaN
2499,5.458499,4.044800,255.900000,1.910000,344.320000,1099.000000,5914.00,1.135000,4.39600,13.04600,1,K00332.01,10290666,NaN
2452,1.089078,2.467600,133.600000,1.960000,7312.110000,2359.000000,6280.00,1.551000,4.09800,12.21700,0,K00324.01,9641041,NaN
1211,16.540814,2.599600,370.000000,1.570000,24.870000,570.000000,5064.00,0.769000,4.57200,13.75500,1,K02033.01,2304320,NaN
5737,4.390514,2.947200,46829.000000,41.830000,910.710000,1401.000000,6081.00,1.454000,4.13300,13.20900,0,K06135.01,5768927,NaN

In [33]:
new_df=new_df.drop(columns=['planetTd'])

In [34]:
new_df.to_csv('Combined_new.csv',index=False)